<header>
    <div class="container">
        <div class="navbar extra-navi hidden-xs hidden-sm">
            <div id="language-switcher" class="pull-right">
                {{ render( controller( 'eZDemoBundle:LanguageSwitcher:showSwitcher', {'routeReference': ez_route()} ) ) }}
            </div>
            <div class="navbar-collapse row">
                {% block userlinks %}
                    {{ render_hinclude( controller( 'eZDemoBundle:Demo:userLinks' ) ) }}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            {% block logo %}
                {% include 'eZDemoBundle::page_header_logo.html.twig' %}
            {% endblock %}

            {% block searchbox %}
                {{ render( controller( 'eZDemoBundle:Search:searchBox' ) ) }}
            {% endblock %}
        </div>
    </div>
</header>
