{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block navbar %}
    {% set contentId = content.contentInfo.id %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="attribute-header">
    <h1 class="long">Crating comment below #{{ content.contentInfo.id }}: {{ content.contentInfo.name }}</h1>
</div>

<form method="post" action="{{ path( 'eZTestCreateContent', { contentId: content.contentInfo.id } ) }}">
	<textarea rows="5" name="text"></textarea>

	<input type="submit" name="submit" value="submit" />
</form>
{% endblock %}
