language: php

# run tests on php 5.4 only and let unit / integration tests deal with php differences
php:
  - 5.5

# list of paths/bundle to execute
env:
#  - TEST_SUITE="@eZDemoBundle"

# test only master (+ Pull requests)
branches:
  only:
    - master

# Get ezpublish5 repo, set it as build dir & install it's packages
before_install:
  - export OLD_TRAVIS_BUILD_DIR="$TRAVIS_BUILD_DIR"
  - export TRAVIS_BUILD_DIR="$HOME/build/ezpublish-community"
  - cd "$HOME/build"
  - git clone --depth 1 https://github.com/bdunogier/ezpublish-community.git
  - cd ezpublish-community
  - git checkout -b demobundle-bdd/website_toolbar
  - ./bin/.travis/behat_before_install.sh

# setup requirements for running tests, move our bundle in & run last requirements script
before_script:
  - ./bin/.travis/behat_before_script1.sh
  - rm -fR vendor/ezsystems/demobundle/EzSystems/DemoBundle
  - mv "$OLD_TRAVIS_BUILD_DIR" vendor/ezsystems/demobundle/EzSystems
  - ./bin/.travis/behat_before_script2.sh

# execute behat as the script command
script: "bin/behat"

# disable mail notifications
notification:
  email: false

# reduce depth (history) of git checkout
git:
  depth: 30
