{# "Campaign" block view template. #}
{# One block can contain one or several "block items". #}
{# We first retrieve all valid items (i.e. "displayable") to display them #}
{% set validItems = pageService.getValidBlockItems( block ) %}
{% set several = validItems|length > 1 %}
<!-- BLOCK: START -->
<div class="block-type-campaign">
    <div class="campaign">
        <a href="#" class="navig prev" style="opacity:0;"><span class="hide">&lt;</span></a>
        {# If we have only one item, display build a link to it. Otherwise let Javascript do its job. #}
        <a href="{{ several ? path( 'ez_urlalias', {'locationId': item.locationId} ) : "#" }}" class="navig next{% if not several %} disabled{% endif %}"><span class="hide">&gt;</span></a>

        <ul class="indicator{% if not several %} disabled{% endif %}">
            {# Retrieve items as ContentInfo so that we can display their names #}
            {% set validContentInfoItems = pageService.getValidBlockItemsAsContentInfo( block ) %}
            {% for contentInfo in validContentInfoItems %}
                {# TODO: Ideally use ez_content_name() instead, but doesn't support ContentInfo #}
                <li{% if loop.first %} class="selected"{% endif %}><span class="hide">{{ contentInfo.name }}</span></li>

            {% endfor %}
        </ul>

        <ul class="images">
        {# Now loop over block items to display them. #}
        {# Block items are eZ\Publish\Core\FieldType\Page\Parts\Item objects #}
        {# Render each location using a specific "block_item_campaign" view type. #}
        {# image_class param will be used in sub-template. #}
        {% for item in validItems %}
            {{ render(
                   controller(
                       'ez_content:viewLocation',
                       {
                           'locationId': item.locationId,
                           'viewType': 'block_item_campaign',
                           'params': {'image_alias': 'campaign'}
                       }
                   )
               ) }}
        {% endfor %}
        </ul>
    </div>
</div>
<!-- BLOCK: END -->
{#
    This template is rendered in a sub-request loop (see 2zonesalayout1.html.twig).
    isFirst variable is passed from this loop.
    Following javascript snippet needs to be run only once.
#}
{% if isFirst is defined and isFirst %}
<script type="text/javascript">
    YUI(YUI3_config).use('event', 'ezsimplegallery', function (Y) {
        Y.on('domready', function () {
            Y.all('.block-type-campaign').each(function () {
                var gal = new Y.eZ.SimpleGallery({
                    gallery: this
                });
            });
        });
    });
</script>
{% endif %}
