.ezcom-view-list {
  background: @white;
}

.ezcom-comment-title {
  clear: both;
  font-style: italic;
}

.ezcom-comment-body {
  clear: both;
  padding-bottom: 5px;
}

.ezcom-comment-body p, .ezcom-comment-title span, .ezcom-comment-index span {
  color: @black;
  overflow: hidden;
  padding: 4px;
}

.ezcom-comment-author {
  float: left;
}

.ezcom-comment-time {
  float: right;
}

input#recaptcha_response_field {
  width: 50%;
}

.ezcom-comment-tool {
  clear: both;
  text-align: right;
  padding: 2px;
}

// comment list: form field

.ezcom-field-emailmessage {
  font-size: 0.8em;
}

.ezcom-field-content textarea {
  height: 100px;
}

.ezcom-field-mandatory {
  color: #ff0000;
  font-style: italic;
}

// form field: comment list in content view

.attribute-comment {
  padding-top: 20px;
}

.ezcom-view-all p {
  padding: 2px;
  text-align: right;
  font-style: italic;
}

// comment function: adding comment

.ezcom-add, .ezcom-edit {
  background: @white;
}

.ezcom-field {
  padding: 10px 3px;
}

// adding comment: paging

.ezcom-page {
  padding: 5px;
  text-align: right;
  background: @white;
  a {
    padding: 1px;
    backgroundr: @white;
    border: 1px solid #ccc;
    &:hover {
      background: #eee;
    }
  }
}

// paging: error message

.ezcom-delete .message-confirmation, .ezcom-add-result .message-error {
  margin: auto;
}

// error message: setting

.ezcom-setting-select {
  float: left;
  width: 130px;
}

.ezcom-setting-count {
  float: right;
  width: 20%;
}

.ezcom-setting-content {
  display: inline;
}

.ezcom-setting-head {
  background: #f0f0f0;
  padding: 5px;
}

.ezcom-setting-row {
  clear: both;
  padding: 6px;
  border-bottom: 1px solid #ccc;
}

.ezcom-setting {
  background: @white;
}

.ezcom-setting-mail {
  font-size: 1.25em;
  padding: 1px;
}
