.pagination a, .pagination span {
  float: left;
  padding: 0 14px;
  line-height: (@baseLineHeight * 2) - 2;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}

.pagination .prev.disabled span {
  border-left-width: 1px;
}

.pagination li:before {
  content: none;
}
