.place-list-loading {
    opacity: 0.5;
   .transition(all 0.30s ease);
}

.place-list-image {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.place-list-link {
    float: right;
}

.place-list-form {
    float: right;
    max-width: 220px;
}

.place-list-text-error{
    color: rgb(185, 74, 72);
    font-weight: bold;
    text-align: center;
}

.place-list-text-info{
  color: rgb(0, 126, 166);
  font-weight: bold;
  text-align: center;
}

@media (max-width: 760px) {
  .place-list-form {
    float: none;
    max-width: 100%;
    text-align: center;
  }

  .place-image {
    visibility: hidden;
    display: none;
  }

  .place-name {
    text-align: center;
  }
}

.yui3-js-enabled .jsenable-place-list-info {
  display: none;
}

.place-image {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.place-location {
  margin-top: 10px;
  margin-bottom: 15px;
}
