@import url('http://fonts.googleapis.com/css?family=Ubuntu:500,300,400');

h1, h2, h3, h4, h5, h6 {
  font-family: @specialFontFamily;
  font-weight: 500;
}

h1 {
  font-size: 36px;
  color: @blue;
}

h2 {
  font-size: 24px;
}

.attribute-header h3 {
  font-size: 18px;
  margin-top: 5px;
}

// Aside headings

.class-blog, .class-blog-post {
  aside {
    h2 {
      padding: 0 20px;
      line-height: 1.1;
    }
  }
}

aside {
  h2, h3, h4, h5, h6 {
    font-weight: 300;
  }
  h2 {
    font-size: 18px;
    line-height: 34px;
    padding: 7px 20px 7px 20px;
    font-weight: 500;
    color: @blue;
  }
  article + .attribute-header h2,
  article + .block-type-poll .attribute-header h2,
  .subnavigation .attribute-header h2 {
    padding-top: 27px;
  }
  h3 {
    font-size: 18px;
    line-height: 22px;
    color: @blue;
  }
  article,
  .block-content {
    font-size: 13px;
    line-height: 18px;
    a {
      .attribute-image + .attribute-header {
        margin-top: 7px;
      }
    }
    p {
      line-height: inherit;
      font-size: inherit;
    }
    ul {
      margin-bottom: 5px;
      li {
        margin-bottom: 5px;
      }
    }
  }
  > .subnavigation {
    > .attribute-header h2 {
      .makeColumn(4);
    }
    > ul {
      > li {
        font-size: 16px;
        ul li {
          font-size: 13px;
          a {
            color: @grayLower;
          }
          &.active {
            a {
              color: @orange;
            }
          }
        }
        a {
          &:hover,
          &:focus {
            text-decoration: none;
            color: @orange;
          }
        }
      }
    }
  }
  .item-price {
    color: @orange;
    font-family: @specialFontFamily;
    font-size: 26px;
    font-weight: 500;
    .old-price {
      color: @red;
      text-decoration: line-through;
    }
  }
  .product-main {
    > .attribute-header {
      h2 {
        font-size: 26px;
        font-weight: 500;
        line-height: 34px;
      }
      .subheadline {
        color: @gray;
        font-size: 13px;
      }
    }
  }
}

ul, ol {
  margin: 0 0 @baseLineHeight / 2 1em;
}

ul {
  list-style: none;
}

.attribute-header,
article,
footer .row,
.content-view-sitemap,
.place-list-name,
.content-view-tagcloud,
.main-content aside {
  a:link:not(.btn) {
    color: @blueDark;
  }
  a:visited:not(.btn) {
    color: @blueDark;
  }
}

section,
footer {
  ul,
  ol {
    padding-left: 0px;
    li {
      position: relative;
      &:before {
        content: "»";
        font-size: 15px;
        font-family: "Arial,Helvetica,sans-serif";
        color: @blueDark;
        display: inline-block;
        position: absolute;
        left: -13px;
      }
    }
  }
}

blockquote {
  padding: 0;
  margin: 1.5em 0;
  #gradient > .vertical(@blueDark, @blue);
  .box-shadow(inset 0 0 10px rgba(0,0,0,0.25));
  font-family: @serifFontFamily;
  color: @white;
  font-size: 20px;
  line-height: 26px;
  padding: 30px 20px 10px 20px;
  .clearfix();
  .blockquote-body {
    .clearfix();
    p {
      margin-bottom: 20px;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      &:first-child:before {
        content: '\AB';
      }
      &:last-child:after {
        content: '\BB';
      }
    }
  }
  small {
    display: block;
    float: right;
    font-family: @baseFontFamily;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: @white;
    margin-bottom: 10px;
    &:before {
      content: '\2014 \00A0';
    }
  }
}

.object-left blockquote p {
  text-align: left;
}

.object-center blockquote p {
  text-align: center;
}

.object-right blockquote p {
  text-align: right;
}

// Article elements

.attribute-byline,
.attribute-caption {
  font-size: 13px;
  line-height: 21px;
  color: @grayLow;
  p {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.strong {
  font-weight: bold;
}

.content-view-full article {
  h2, h3, h4, h5, h6 {
    line-height: @baseLineHeight * 1.5;
  }
  h4, h5, h6 {
    font-size: 18px;
  }
}

.content-view-children {
  .attribute-header {
    h2, h3, h4, h5, h6 {
      line-height: 1.5em;
      font-weight: 300;
      font-size: 18px;
    }
  }
  .item-price {
    color: @orange;
    font-family: @specialFontFamily;
    font-size: 30px;
    font-weight: 500;
  }
  .contacts-container {
    h3, h4 {
      color: @orange;
      font-weight: 500;
    }
    .person-position,
    .image-and-data-set ul li {
      font-size: 13px;
      color: @grayLower;
    }
    .person-position {
      font-style: italic;
    }
  }
}

.file-to-download {
  .header {
    font-weight: bold;
  }
  .file-size {
    color: @black;
  }
  .description,
  .modified-date {
    color: @grayLower;
  }
}

.comment {
  .header {
    .profile-name {
      font-weight: bold;
    }
    .comment-date {
      color: @grayLight;
      font-size: 13px;
    }
  }
  .comment-headline {
    font-weight: bold;
    color: @grayLower;
  }
  .comment-body {
    color: @grayLower;
  }
}

// Main navi
.main-navi {
  font-family: @specialFontFamily;
  font-size: 16px;
  font-weight: 400;
  .sublevel {
    font-weight: 300;
  }
}

.extra-navi {
  font-size: 13px;
}

.breadcrumb {
  font-size: 13px;
}

// Footer

footer {
  .claim-wrapper {
    .main-navi();
    line-height: 33px;
    color: @softwhite;
  }
}

footer h3 {
  font-size: 18px;
  line-height: 31.5px;
  margin-top: 0px;
}

.product-info .attribute-header h3 {
  margin-top: 0px;
}

.attribute-header h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.attribute-header h3 {
  margin-bottom: 0px;
}

.gallery-viewer h3 {
  margin: 0px;
}

article > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.block-view-2_columns_2_rows h2 {
  line-height: 42px;
}
