#ezwt-content input {
  vertical-align: baseline;
}

#ezwt-content input[disabled] {
  background-color: transparent;
}

#ezwt a img {
  vertical-align: top;
}

.ezwt-actiongroup input {
  width: 27px;
}
