{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block content %}
<section class="content-view-full">
    <article class="class-call-to-action">
        <div class="attribute-header">
            <h1>{{ ez_content_name( content ) }}</h1>
        </div>
        <div class="row">
            <div class="span7">
                {{ ez_render_field( content, "description" ) }}
            </div>
        </div>
    </article>
</section>
{% endblock %}
